<main>

  <div class="container jumbotron w-50 text-center mt-3 ">
    <h1 class="aline-self-center mx-auto">Sign into your account<h1><br />
    <%= form_with url: sessions_path do |form| %>
      <%= form.label :name, class: 'h3'%>
      <p>
        <%= form.text_field :name, palceholder: 'Name', autocomplete: "off", class: 'form-control aline-center' %>
      </p>
      <p>
        <%= form.submit 'Login', class: 'btn btn-outline-success'%>
      </p>
    <% end %>
  <div> 

  <%= link_to 'Create Account', new_user_path, class: 'btn bg-primary text-white' %>

</main>